/* BASE STYLING */
QWidget {
    background-color: #454747;
    color: #DCE1DE;
    font-family: "Cascadia Mono";
    font-size: 14px;
}

QWidget#view_bg {
    background-color: #686969;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #000000;
    font-family: "Cascadia Mono";
    font-size: 14px;
}

QWidget#transparent {
    background-color: transparent;
}

/* TAB WIDGET */
QTabWidget::pane {
    border: 0px;
    top: -1px;
}

QTabWidget QStackedWidget {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: 4px solid #49A078;
}

QTabBar::tab {
    background-color: #216869;
    color: #000000;
    border: 1px solid transparent;
    padding: 12px 18px ;
    margin: 0px;
    top: 6px;
    width: 120px;
}

QTabBar::tab:first {
    border-top-left-radius: 4px;
}

QTabBar::tab:last {
    border-top-right-radius: 4px;
}

QTabWidget#subtabs QTabBar::tab {
    background-color: #691601;
}

QTabWidget#subtabs QTabBar::tab:selected {
    background-color: #49A078;
}

QTabBar::tab:selected {
    background-color: #49A078;
    color: #ffffff;
    border: 0px;
    font-weight: bold;
    padding: 12px 48px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    top: 0px;
}

QTabBar::tab:hover {
    background-color: #49A078;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
    top: 3px;
}

QTabBar::tab:selected:hover {
    border: 0px;
    top: 0px;
}

/* BUTTON STYLING */
QPushButton {
    background-color: #216869;
    color: #000000;
    border: 0px;
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: bold;
}

QPushButton#red_btn {
    background-color: #691601;
}

QPushButton:hover {
    background-color: #49A078;
}

/* LABEL STYLING */
QLabel {
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
}

QLabel#post_title {
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
}

/* DROP DOWN MENU STYLING */
QComboBox {
    background-color: #DCE1DE;
    color: #000000;
    border: 0px;
    border-radius: 3px;
    padding: 4px 8px;
    min-width: 120px;
}

QComboBox QAbstractItemView {
    background-color: #DCE1DE;
    color: #000000;
    padding: 0px;
    min-width: 120px;
    font-size: 18px;
}

QComboBox QAbstractItemView:item {
    background-color: #DCE1DE;
    color: #000000;
    border-top: 1px solid #216869;
    margin: 0px;
    padding: 4px;
    min-width: 120px;
    font-size: 18px;
}

QComboBox QAbstractItemView::item:hover {
    background-color: #9CC5A1;
    color: #000000;
    border: 0px;
    min-width: 120px;
    font-size: 18px;
}

QComboBox#READ_ONLY,
QComboBox#LOCKED {
    background-color: #B0B0B0;
}

QComboBox::drop-down#READ_ONLY,
QComboBox::drop-down#LOCKED {
    background-color: #2c2c2c;
}

QComboBox:hover {
    background-color: #9CC5A1;
}

QComboBox::drop-down {
    background-color: #216869;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    width: 20px;
    padding: 0px;
}

QComboBox::down-arrow {
    image: none;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-top: 2px solid #9CC5A1;
    width: 0px;
    height: 0px;
}

/* Program Name Styling */
QLabel#program_name {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

QLabel#revision_label {
    font-size: 12px;
    color: #B0B0B0;
    font-style: italic;
}

QWidget QLineEdit {
    background-color: #DCE1DE;
    border: 0px;
    color: #000000;
    border-radius: 3px;
    padding: 4px 8px;
}

QWidget QLineEdit#READ_ONLY {
    background-color: #B0B0B0;
}

QWidget QPushButton {
    background-color: #216869;
    border: 0px;
    border-radius: 5px;
    padding: 6px 12px;
    font-weight: bold;
}

QWidget QPushButton:hover {
    background-color: #49A078;
    color: #ffffff;
    font-weight: bold;
}

/* Horizontal Rule Style */
QLabel#hr {
    background-color: #216869;
    min-height: 1px;
    max-height: 1px;
    padding: 0px;
    margin: 0px;
}

/* Large button style */
QPushButton#large_btn {
    max-height: 76px;
    max-width: 129px;
    min-height: 76px;
    min-width: 129px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
}

/* Large button style */
QWidget QPushButton#crit_large_btn {
    background-color: #691601;
    max-height: 64px;
    max-width: 129px;
    min-height: 64px;
    min-width: 129px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
}

/* Status Section */
QWidget#status_container {
    background-color: #686969;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* login screen styles */
LoginScreen {
    background-color: #454747;
    color: #DCE1DE;
    font-family: "Cascadia Mono";
    font-size: 16px;
}

LoginScreen QLabel {
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

LoginScreen QLabel#login_title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

LoginScreen QLabel#rev_label {
    font-size: 12px;
    color: #B0B0B0;
    font-style: italic;
}


/* forgot_pw screen styles */
ForgotPasswordScreen {
    background-color: #454747;
    color: #DCE1DE;
    font-family: "Cascadia Mono";
    font-size: 14px;
}

ForgotPasswordScreen QLabel {
    background-color: transparent;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

ForgotPasswordScreen QLabel#title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

ForgotPasswordScreen QLabel#label {
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

ForgotPasswordScreen QLineEdit#response_field {
    background-color: #DCE1DE;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
}

ForgotPasswordScreen QComboBox {
    background-color: #DCE1DE;
    color: #000000;
    border: 0px;
    border-radius: 3px;
    padding: 4px 8px;
    min-width: 120px;
}

ForgotPasswordScreen QComboBox QAbstractItemView {
    background-color: #216869;
    font-size: 16px;
}

ForgotPasswordScreen QAbstractItemView::item  {
    background-color: #DCE1DE;
    color: #000000;
    border-top: 1px solid #216869;
    margin: 0px;
    padding: 4px;
    min-width: 120px;
    font-size: 18px;
}

ForgotPasswordScreen QComboBox QAbstractItemView::item:hover {
    background-color: #9CC5A1;
    color: #000000;
    border: 0px;
    min-width: 120px;
    font-size: 18px;
}

/*Entry QSS : admin_settings->rates*/
QWidget#entry_body {
    background-color: #686969;
    border: 3px solid #686969;
    border-radius: 4px;
}

QWidget#entry_body:hover,
QWidget#entry_body[state="READ_WRITE"]{
    background-color: #49A078;
    border: 3px solid transparent;
}

/*Default entry Style: all entry field objects fall back to here for missing properties/invalid states*/
QLineEdit#entry_field{
    background-color: #DCE1DE;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 4px 8px;
}

/*State 01: Read-Only -> we change the background of the field and then fall back to the default style for the rest*/
QLineEdit#entry_field[state="READ_ONLY"] {
    background-color: #B0B0B0;
}

/* Radio Button Colors */
QRadioButton::indicator {
    border: 2px solid #000000;
    border-radius: 7px;
    width: 12px;
    height: 12px;
}

QRadioButton::indicator:checked {
    background-color: #000000;
    border-radius: 7px;
}